POSTGRES_DB=sitapp
POSTGRES_USER=sitapp
POSTGRES_PASSWORD=sitapp
POSTGRES_PORT=5432

# Proslediti Spring Boot procesu samo ako se menjaju podrazumevane vrednosti iznad.
DB_URL=jdbc:postgresql://localhost:5432/sitapp
DB_USERNAME=sitapp
DB_PASSWORD=sitapp
